:root {
  --primary-color: #008b8b; /* Turquesa Nihilakh */
  --bg-color: #f4f7f6;
  --text-color: #2c3e50;
  --sidebar-bg: #1a252ffb;
  --black: #000;
  --white: #fff;
}

body {
  background-color: #4d474728;
  margin: 0;
  padding: 20px 0;
  font-family: "inter", sans-serif;
  height: 100%;
}

h1 {
  color: var(--sidebar-bg);
}

h2 {
  color: var(--primary-color);
}

hr {
  height: 4px;
  background-color: var(--primary-color);
  color: var(--primary-color);
}

.main {
  width: 1000px;
  min-height: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.card,
.card-header,
.card-body {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(50, 50, 55, 0.2);
  transition: all 0.3s ease;
}

aside {
  width: 25%;
  flex-shrink: 0;
  background-color: var(--sidebar-bg);
  border: 3px solid black;
  padding: 15px;
  margin: 10px;
  z-index: 1;
  border-radius: 10px;
  color: var(--bg-color);
}

.nav-link {
  color: #9ca3af;
  padding: 12px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.nav-link:hover,
.nav-link.active {
  background: rgba(0, 206, 209, 0.1);
  color: var(--primary-color);
}

.nav-link i {
  width: 30px;
}

.skill {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  margin: 2px;
}

.foto-perfil {
  height: 200px;
  width: 200px;
  border: solid, 5px, rgb(179, 167, 9);
  border-radius: 50%;
  justify-self: center;
  background-image: url(../img/trazyn.jpg);
  background-size: cover;
  margin: 20px;
}

.content-area {
  flex-grow: 1;
  padding: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: visible;
}

/* MUURI */
.grid {
  position: relative;
  width: 100%;
}

.item {
  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 10px;
}

/* Estilos visuales para el arrastre */
.block {
  pointer-events: none;
}

.item.muuri-item-dragging {
  z-index: 999;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.4);
  cursor: grab;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item-content {
  cursor: grab;
  height: 100%;
}

.item-content:active {
  cursor: grabbing;
}

/* Modo stasis */

body.modo-stasis {
  background-color: var(--black);
  color: #eee;
}

body.modo-stasis .main,
body.modo-stasis .content-area,
body.modo-stasis aside {
  background-color: rgba(10, 10, 10, 0.6);
  border-color: #333;
}

body.modo-stasis .card,
body.modo-stasis .card-header,
body.modo-stasis .card-body {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid #00bfff !important;
  color: var(--white) !important;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.3);
}

body.modo-stasis h1,
body.modo-stasis h2,
body.modo-stasis h3 {
  color: var(--white);
  text-shadow:
    0 0 10px rgba(0, 191, 255, 0.9),
    0 0 2px black;
}
